MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_DATABASE=trabalho_final
MYSQL_USER=bdi
MYSQL_PASSWORD=bdi
MYSQL_SSL_MODE=
MYSQL_SSL_CA=
MYSQL_SSL_VERIFY_CERT=false
MYSQL_SSL_VERIFY_IDENTITY=false

CAMARA_API_BASE_URL=https://dadosabertos.camara.leg.br/api/v2
MAX_PROPOSICOES=500
ANO_PROPOSICOES=2025
# Para carregar mais de um ano, use esta variavel no lugar de ANO_PROPOSICOES:
# ANOS_PROPOSICOES=2025,2026

# Exemplo para Aiven, sem credenciais reais:
# MYSQL_HOST=SEU_HOST_AIVEN
# MYSQL_PORT=18646
# MYSQL_DATABASE=defaultdb
# MYSQL_USER=avnadmin
# MYSQL_PASSWORD=SUA_SENHA_AIVEN
# MYSQL_SSL_MODE=REQUIRED
# MYSQL_SSL_CA=certs/aiven-ca.pem
# MYSQL_SSL_VERIFY_CERT=true
# MYSQL_SSL_VERIFY_IDENTITY=false
