MYSQL_ROOT_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3307
MYSQL_DATABASE=trabalho_final
MYSQL_USER=bdi
MYSQL_PASSWORD=bdi

CAMARA_API_BASE_URL=https://dadosabertos.camara.leg.br/api/v2
MAX_PROPOSICOES=500
ANO_PROPOSICOES=2025
